.brif {
  background: url("../images/brif-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  h2 {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: $main-blue;
  }
}



.what-we-do__line-holder {
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  height: 2px;
  // margin-right: 15px;
}

.what-we-do__line {
  height: 2px;
  background-color: #e7a20e;
}

.service-1 {
  a {
    text-decoration: none
  }
}

.main-form {
  position: relative;


  .form {
    background: linear-gradient(180deg, #F1F7FF -20.67%, #FFFFFF 22.92%);
    border-radius: 20px;

    &-title {
      font-family: PT Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      color: #FCBA2E;
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    left: -40%
  }
}




.select span {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  color: #BCD9FF;
}

input[type=range] {
  width: 40%;
  margin: 7.65px 0;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #e7a20e;
  border: 0;
  border-radius: 24.3px;
  width: 100%;
  height: 4.7px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: -7.65px;
  width: 20px;
  height: 20px;
  background: #fbd87c;
  border: 0;
  border-radius: 33px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #eca50e;
}

input[type=range]::-moz-range-track {
  background: #e7a20e;
  border: 0;
  border-radius: 24.3px;
  width: 100%;
  height: 4.7px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #fbd87c;
  border: 0;
  border-radius: 33px;
  cursor: pointer;
}

input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 7.65px 0;
  color: transparent;
  width: 100%;
  height: 4.7px;
  cursor: pointer;
}

input[type=range]::-ms-fill-lower {
  background: #e29f0e;
  border: 0;
  border-radius: 48.6px;
}

input[type=range]::-ms-fill-upper {
  background: #e7a20e;
  border: 0;
  border-radius: 48.6px;
}

input[type=range]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #fbd87c;
  border: 0;
  border-radius: 33px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}

input[type=range]:focus::-ms-fill-lower {
  background: #e7a20e;
}

input[type=range]:focus::-ms-fill-upper {
  background: #eca50e;
}

/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {

  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

.under {
  text-decoration: underline;
}

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 70%;

  p {
    font-family: Museo Sans Cyrl;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
  }

  button {
    background: #FBD87C;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px 10px;
  }
}

.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 19px;
  outline: 0;
  border: 0px solid #000000;
  border-radius: 100px;
  background: #f1f7ff;
  color: $main-blue;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;

  option {
    color: $main-blue
  }
}

.select select::-ms-expand {
  display: none;
}

.select select:hover,
.select select:focus {
  color: #265A9E;
  background: #b7dcff;
}

.select select:disabled {
  opacity: 0.2;
  pointer-events: none;
}

.select_arrow {
  position: absolute;
  top: 20px;
  right: 20px;
  pointer-events: none;
  border-style: solid;
  border-width: 13px 15px 0px 13px;
  border-color: #FCBA2E transparent transparent transparent;
}

.select select:hover~.select_arrow,
.select select:focus~.select_arrow {
  border-top-color: #ffb009;
}

.select select:disabled~.select_arrow {
  border-top-color: #cccccc;
}


.count-l {
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color:$main-blue
}

.value {
  background: none !important;
  border: none !important
}

.add {
  
  a {

    text-decoration: none;

    .plus {
      display: inline-block;
      background-color: #FCBA2E;
      color: white;
      font-size: 18px;
    }

    span {
      font-family: PT Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: #FCBA2E;
    }
  }

}