.header {
	background-color: #265A9E;
}

.menu {

	&__link {
		font-family: Museo Sans Cyrl;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: white;
		text-decoration: none;
		transition: all .33s;

		&:hover {
			color:  #bfdcff;
		}
	}
}