.intro {
	background: url('../images/intro-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;

	&-block {
		h1 {
			font-family: PT Sans;
			font-style: normal;
			font-weight: bold;
			font-size: 45px;
			color: $main-blue;
		}

		p {
			font-family: Museo Sans Cyrl;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
		}

			}

	&-achivements {
		background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) -58.74%, rgba(241, 247, 255, 0.7) 100%);
		border-radius: 66px;

		h4 {
			font-family: Museo Sans Cyrl;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
		}
	}

}